@import "_nav.scss";
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  min-height: 100vh;
  font-size: 1em;
}
main {
  position: relative;
  padding: $padding !important;
  overflow: hidden;
  @include small {
    padding: $padding 0 !important;
  }
  img {
    border-radius: 50%;
    max-width: 350px;
    width: 100%;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .skills-one {
    @include medium {
      padding-bottom: 0;
    }
    ul {
      @include medium {
        margin-bottom: 0;
      }
    }
    li:last-of-type {
      @include medium {
        border-bottom: none;
        border-radius: 0;
      }
    }
  }
  .skills-two {
    @include medium {
      padding-top: 0;
    }
    li:first-of-type {
      @include medium {
        border-radius: 0;
      }
    }
  }
  li:first-of-type {
    border-radius: 5px 5px 0 0;
  }
  li:last-of-type {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px #dfdfdf solid;
  }
  li {
    border: 1px #dfdfdf solid;
    border-bottom: none;
    padding: 8px 0;
  }
}
main:before {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 120%;
  background: linear-gradient(transparent 0%, #fff 5%, #fff 100%);
  animation: animate 3s linear forwards;
}
@keyframes animate {
  0% {
    top: -20%;
  }
  100% {
    top: 120%;
  }
}
.row {
  text-align: center;
  padding: $padding 0;
  @include medium {
    padding: 0;
  }
}

.col-md {
  margin: auto;
  @include medium {
    margin: 0;
    padding: 50px 50px 0 50px;
  }
}
h2 {
  padding-bottom: $padding;
  @include medium {
    padding: 50px;
    padding-bottom: 0;
  }
}
